body {
  background: yellow;
}

a {
  color: red;
}

a:visited {
  color: blue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

span.bold.italic {
  font-size: 2.5rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.font-med {
  font-size: 1.5em;
}

table {
  background: cyan;
  border-spacing: 10;
  border-collapse: separate;
}

td {
  padding: 10px;
}

@keyframes table-colors {
  from {
    background: cyan;
    color: black;
  }

  to {
    background: green;
    color: white;
  }
}

@-moz-keyframes table-colors

/* Firefox */
  {
  from {
    background: cyan;
    color: black;
  }

  to {
    background: green;
    color: white;
  }
}

@-webkit-keyframes table-colors

/* Safari and Chrome */
  {
  from {
    background: cyan;
    color: black;
  }

  to {
    background: green;
    color: white;
  }
}

table {
  animation: table-colors 5s;
  -moz-animation: table-colors 5s;
  /* Firefox */
  -webkit-animation: table-colors 5s;
  /* Safari and Chrome */
}

@keyframes banner {
  0% {
    background: purple;
    left: 0px;
    top: 0px;
  }

  100% {
    background: purple;
    left: 75%;
    top: 0px;
  }
}

@-moz-keyframes {
  0% {
    background: purple;
    left: 0px;
    top: 0px;
  }

  100% {
    background: purple;
    left: 75%;
    top: 0px;
  }
}

@-webkit-keyframes {
  0% {
    background: purple;
    left: 0px;
    top: 0px;
  }

  100% {
    background: purple;
    left: 75%;
    top: 0px;
  }
}

.banner {
  width: 200px;
  height: 50px;
  background: purple;
  position: relative;
  text-align: center;
  /*margin: 0 auto;*/
  margin-top: 4rem;
  padding: 2rem;
  animation: banner 5s linear 2s infinite alternate;
  /* Firefox: */
  -moz-animation: banner 5s linear 2s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: banner 5s linear 2s infinite alternate;
}
